.about {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__content {
    flex: 1;
    margin-bottom: 20px; // Add margin at the bottom for better separation
  }

  &__image-container {
    display: flex;
    justify-content: center; // Center the image horizontally
    align-items: center; // Center the image vertically
    margin-top: 20px; // Add margin for better spacing
  }

  &__image {
    width: 60%; // Adjust width as needed for normal mode
    border-radius: 10px;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 10px; // Reduce margin for better alignment with description
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 62.5rem) {
    // Adjust breakpoint as needed
    flex-direction: row;

    &__content {
      flex: 1;
      margin-right: 20px; // Add margin between content and image
    }

    &__image-container {
      margin-top: 0; // Reset margin top
      margin-left: auto; // Move image to the right
      margin-right: 20px; // Add margin between content and image
    }

    &__image {
      width: 80%; // Adjust width as needed for responsive mode
    }

    &__title {
      font-size: 2.8rem; // Increase font size for larger screens
    }

    &__description {
      font-size: 1.4rem; // Increase font size for larger screens
    }
  }
}
