// footer.scss

.footer {
    background-color: #282c35;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    flex-wrap: wrap;
  //  width: 100%;
    .footer-content {
      display: flex;
      
      justify-content: space-around;
    }
  
    .footer-section {
      flex: 1;
  
      h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 8px;
          cursor: pointer;
          transition: color 0.3s ease;
  
          &:hover {
            color: #ff5a5f;
          }
        }
      }
    }
  
    .copyright {
      margin-top: 20px;
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 62.5rem) {
    .footer {
   
      .footer-content {  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
      }
  }
}