.main-header {
  background-color: #282c35;
  color: #61dafb;
  padding: 1.5rem;
  max-width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  &__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 48px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #ff5a5f;
    flex-grow: 1;
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ff5a5f;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__toggle-icon {
    display: block;
  }

  &__nav {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 768px) {
      display: none;
      width: 100%;

      background-color: #282c35;
      padding: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

      &.main-header__nav--open {
        display: flex;

        .main-header__button {
          display: block;
        }
      }
    }
  }

  &__button {
    display: block;
    padding: 12px 24px;
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #ff7a7f;
      transform: scale(1.05);
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__nav--open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #282c35;
    width: 100%; /* Behoud de volledige breedte van de hoofdkoptekst */
    max-width: 100%; /* Hier wordt de maximale breedte ingesteld */
    padding: 20px; /* Voeg padding toe om de inhoud te centreren */
    box-sizing: border-box; /* Zorg ervoor dat padding binnen de maximale breedte wordt berekend */
    overflow-x: auto; /* Voeg horizontaal scrollen toe indien nodig */
  }

  &__nav-item {
    margin-bottom: 10px;
  }

  &__nav-button {
    padding: 12px 24px;
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__nav-button--company {
    background-color: #ff5a5f;
  }

  &__nav-button--services {
    background-color: #ff5a5f;
  }
}
